<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <H1 style="text-align: right;">Welcome</H1>
        

    <a href="addproduct/"><h2>Add Product</h2></a>
    <a href="viewproduct/"><h2>View Product</h2></a>
    <a href="additem/"><h2>Add Item</h2></a>
    <a href="viewitem/"><h2>View Item</h2></a>
    <a href="addinventory/"><h2>Add Item to Inventory</h2></a>
    <a href="viewinventory/"><h2>View Inventory</h2></a>
   
    
</body>
</html>