<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{border: 1px black solid;}
    </style>
</head>
<body>
    
    <h1>Product Table</h1>
    <table>
        <tr>
            <th>Product_ID</th>
            <th>Product_Name</th>
            <th>Warranty</th>
            <th>Action</th>
        </tr>
        {% for x in prod %}
        <tr>
            <td>{{ x.Product_ID }}</td>
            <td>{{ x.Product_Name }}</td>
            <td>{{ x.Warranty }}</td>
            <td>
                <form action="{% url 'deleteproduct' x.Product_ID %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete">

            </form>
            </td>
        </tr>
        {% endfor %}
    
    

    </table>
    
    <a href="http://127.0.0.1:8000/Logreg/login/login_success/"><h3>Home Page</h3></a>
    
    
</body>
</html>